/**
 * Created by john on 7/8/17.
 */
.THIS {
}

.THIS .url-textarea {
	border: none;
	background-image: none;
	background-color: transparent;
	background-repeat: no-repeat;
	resize: none;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: 1.75rem;
}